@model AuthorizationData

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h2>Авторизация</h2>
<form method="post" asp-action="AuthorizePost" asp-controller="Home">
<div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <input type="submit" value="Войти" />
    </div>
</form>
